<div class="login-container">
 
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
    (click)="goToLogin()">Go back</a>
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Register</div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <label for="name" class="block text-900 font-medium mb-2">Nombre</label>
      <input id="name" type="text" [(ngModel)]="name" name="name" placeholder="Name" pInputText class="w-full mb-3" formControlName="name">
      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']"
        class="text-red-500 mb-2">This field is required.</div>
      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['minlength']"
        class="text-red-500 mb-2">Name must be at least 5 characters long.</div>
      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['maxlength']"
        class="text-red-500 mb-2">Name cannot exceed 20 characters.</div>


      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input id="email" type="email" [(ngModel)]="email" name="email" placeholder="Email address" pInputText
        class="w-full mb-3" formControlName="email">
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
        class="text-red-500 mb-2">This field is required.</div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
        class="text-red-500 mb-2">Please enter a valid email address.</div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['minlength']"
        class="text-red-500 mb-2">Email must be at least 5 characters long.</div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['maxlength']"
        class="text-red-500 mb-2">Email cannot exceed 50 characters.</div>


      <label for="password" class="block text-900 font-medium mb-2">Password</label>
      <input id="password" [(ngModel)]="password" name="password" type="password" placeholder="Password" pInputText
        class="w-full mb-3" formControlName="password">
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
        class="text-red-500 mb-2">This field is required.</div>
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']"
        class="text-red-500 mb-2">Password must be at least 6 characters long.</div>
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['maxlength']"
        class="text-red-500 mb-2">Password cannot exceed 30 characters.</div>
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['pattern']"
        class="text-red-500 mb-2">Password must contain at least one uppercase letter, one lowercase letter, and one
        number.</div>


      <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm Password</label>
      <input id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" type="password"
        placeholder="Confirm Password" pInputText class="w-full mb-3" formControlName="confirmPassword">
      <div
        *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']"
        class="text-red-500 mb-2">This field is required.</div>
      <div
        *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['minlength']"
        class="text-red-500 mb-2">Confirm password must be at least 6 characters long.</div>
      <div
        *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['maxlength']"
        class="text-red-500 mb-2">Confirm password cannot exceed 30 characters.</div>
      <div
        *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['pattern']"
        class="text-red-500 mb-2">Confirm password must contain at least one uppercase letter, one lowercase letter, and
        one number.</div>


      <div class="flex justify-content-center flex-wrap">
        <button pButton type="submit" pRipple label="Registrar" icon="pi pi-user" class="w-full mb-6"
          [disabled]="!name || !email || !password || !confirmPassword"></button>
      </div>

    </form>
  </div>
</div>