/* .login-card {
    width: 400px;
    margin: 100px auto;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
  }

  
   */

   .lala {
    display: flex;
    align-items: center;
    justify-content: center;
   }