<div class="photo-container flex justify-content-center" *ngIf="guardStatusRole">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 mt-6">
    <h2 class="text-center">Gestión de Posts</h2>

    <!-- Formulario para añadir nuevo post -->
    <form (ngSubmit)="addPost()" class="p-fluid">
      <label for="postTitle" class="block text-900 font-medium mb-2">Título del Post:</label>
      <input id="postTitle" type="text" pInputText [(ngModel)]="newPost.title" name="postTitle" placeholder="Título"
        class="w-full mb-3" />

      <label for="postBody" class="block text-900 font-medium mb-2">Contenido del Post:</label>
      <textarea id="postBody" pInputTextarea [(ngModel)]="newPost.body" name="postBody" placeholder="Contenido"
        class="w-full mb-3"></textarea>

      <div class="flex justify-content-center flex-wrap">
        <button pButton pRipple label="Añadir Post" icon="pi pi-plus" type="submit" class="w-full mb-6"></button>
      </div>
    </form>

    <hr />
  </div>
</div>

<!-- Sección de posts existentes -->
<div class="posts-list-container mt-6 w-full">
  <h3 class="text-center mb-4">Posts Existentes</h3>
  <div class="grid">
    <div *ngFor="let post of paginatedPosts; let i = index" class="col-12 md:col-4 lg:col-3 mb-4">
      <div class="card">
        <strong>{{ post.title }}</strong>
        <p>{{ post.body }}</p>
        <div class="flex justify-content-center mt-2" *ngIf="guardStatusRole">
          <button pButton icon="pi pi-trash" label="Eliminar" (click)="deletePost(post.id)" severity="danger"
            class="mr-2" size="small"></button>
          <button pButton icon="pi pi-pencil" label="Editar" (click)="selectPostToEdit(post)"
            class="p-button-secondary" size="small"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="flex justify-content-center mt-4">
    <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="paginate($event)">
    </p-paginator>
  </div>
</div>

<!-- Modal para editar post -->
<div *ngIf="editPost" class="modal-container">
  <div class="surface-card p-4 shadow-2 border-round modal-content">
    <h3>Editar Post</h3>

    <label for="editPostTitle">Título:</label>
    <input id="editPostTitle" type="text" pInputText [(ngModel)]="editPost.title" class="w-full mb-3" />

    <label for="editPostBody">Contenido:</label>
    <textarea id="editPostBody" pInputTextarea [(ngModel)]="editPost.body" class="w-full mb-3"></textarea>

    <div class="flex justify-content-end mt-3">
      <button pButton label="Guardar" icon="pi pi-check" (click)="updatePost()" class="mr-2" size="small"></button>
      <button pButton label="Cancelar" icon="pi pi-times" (click)="editPost = null" class="p-button-secondary"></button>
    </div>
  </div>
</div>

<div *ngIf="editPost" class="modal-backdrop"></div>
